.custom-button {
  @apply rounded-lg;
}

.button-primary {
  @apply bg-indigo-400 text-text dark:text-dark-text dark:bg-indigo-700;
}

.button-secondary {
  @apply text-white dark:bg-dark-secondary bg-opacity-25 dark:bg-opacity-25;
}

.button-alert {
  @apply text-white bg-red-600;
}

.button-success {
  @apply text-white bg-green-600;
}

.button-tertiary {
  @apply rounded-lg border border-border-secondary hover:dark:bg-dark-secondary;
}

.button-lg {
  @apply px-4 py-2 text-lg;
}

.button-md {
  @apply px-4 py-2;
}

.button-sm {
  @apply px-2 py-2 text-sm;
}
