.questions-card-container {
  @apply mt-3 p-5 rounded-3xl w-full max-w-screen-lg animate-enter-from-top dark:bg-dark-secondary border border-border;
}

.questions-card-header {
  @apply flex justify-between rounded-t-lg items-center;
}

.question-statement {
  @apply border border-border-secondary p-3 rounded-lg;
}

.options-container {
  @apply p-3 grid grid-cols-2 gap-3;
}

.options-container > div {
  @apply p-3 border border-border-secondary rounded-lg;
}

.options-container-game {
  @apply p-3 grid grid-cols-2 gap-3;
}

.options-container-game > div {
  @apply p-3 border border-border-secondary hover:border-blue-500 rounded-lg cursor-pointer;
}

.selected-option {
  @apply border-blue-500 text-blue-500 !important;
}

.correct-answer {
  @apply border-green-600 dark:border-green-400 text-green-600 dark:text-green-400 !important;
}

.wrong-answer {
  @apply border-red-600 dark:border-red-400 text-red-600 dark:text-red-400 !important;
}

.wrong-user-response > div {
  @apply h-10 w-10 flex justify-center items-center rounded-xl border border-red-600 dark:border-red-400 text-red-600 dark:text-red-400;
}

.correct-user-response > div {
  @apply h-10 w-10 flex justify-center items-center rounded-xl border border-green-600 dark:border-green-400 text-green-600 dark:text-green-400;
}

.exit-animation {
  @apply animate-exit-to-bottom;
}
