.app {
  @apply h-[100dvh] w-[100dvw] dark:bg-primary bg-white dark:text-gray-light relative flex flex-col;
}

::-webkit-scrollbar {
  /* Customize the scrollbar width */
  width: 2px;
}

::-webkit-scrollbar-track {
  /* Customize the scrollbar track */
  background: transparent;
}

::-webkit-scrollbar-thumb {
  /* Customize the scrollbar thumb */
  background: #121212;
  border-radius: 5px;
}

.dark ::-webkit-scrollbar-thumb {
  /* Customize the scrollbar thumb */
  background: #adadad;
  border-radius: 5px;
}
